{% extends 'index.html' %}
{% block body %}
{% load static %}
<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Llave de OpenAI incorrecta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <label for="api_key" class="input-group-text">Llave de OpenAI</label>
                </div>
                <input type="password" name="api_key" class="form-control" id="api_key" required>
                <div class="input-group-append">
                    <button id="apiKeyIcon" class="btn btn-outline-secondary" type="button">
                        <i class="bi bi-eye-slash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="saveBtn">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>  
<div class="container-fluid text-left">
    <div class="row justify-content-center">
        <div class="col-4">
            <a href="{% url 'assignments' %}"><- Todas las tareas</a>
            <h2>Ingrese los datos</h2>
            {% csrf_token %}
            <label for="criteria" class="form-label mt-1">Criterio de evaluación</label>
            <select name="criteria" id="criteria" class="form-select">
                {% for rubric in rubrics %}
                <option value="{{ rubric.id }}">{{ rubric.name }}</option>
                {% endfor %}
            </select>
            <label for="description" class="form-label mt-1">Descripción de la tarea</label>
            <textarea id="description" name="description" class="form-control" cols="30" rows="5"></textarea>
            <label for="essay" class="form-label mt-1">Tareas</label>
            <div id="dropzone">
                <p>Drag and drop</p>
            </div>
            <button type="submit" class="btn btn-primary my-2" id="submitBtn">Evaluar</button>

            <div class="text-center visually-hidden" id="spinnerLoader">
                <div class="spinner-border text-primary" role="status">
                </div>
                <br>
                <span>Analizando</span>
                <span id="essaysDone">0/0</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" id="essayRow">
    </div>
</div>
<script src={% static 'scripts/assignments.js' %}></script>
{% endblock %}