{% extends 'index.html' %}
{% block body %}
<div class="container-fluid text-left">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="my-1">Sílabos</h1>
            <a href="{% url 'new_syllabus' %}" class="btn btn-success">Generar sílabos</a>
            <a href="{% url 'syllabus_report' %}" class="btn btn-primary">Generar reporte</a>
            {% for s in syllabus %}
            <div class="card my-2">
                <div class="card-header d-flex justify-content-between">
                    <h5>{{ s.subject}}</h5>
                    <h5>{{ s.date }}</h5>
                </div>
                <div class="card-body">
                    
                    <a href="{% url 'syllabus_detail' syllabus_id=s.id  %}" class="btn btn-primary"><i
                            class="bi bi-search"></i></a>
                    <form action="{% url 'syllabus_delete' syllabus_id=s.id  %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                    </form>
                    <a href="{% url 'syllabus_edit' syllabus_id=s.id  %}" class="btn btn-warning">Re-generar<i
                        class="bi bi-arrow-clockwise"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}