{% extends 'index.html' %}
{% block body %}
<div class="container-fluid text-left">
    <div class="row justify-content-center">
        <div class="col-6">
            <a href="{% url 'videos' %}"><- Todos los videos</a>
                    <h2 class="my-2">{{ video.file_name }}</h2>
                    <h4 class="my-2">Rúbrica utilizada: {{ video.criteria_name }}</h4>
                    <h4 class="my-2">Transcripción</h4>
                    <p class="detail-body">{{ video.transcription }}</p>
                    <h4 class="my-2">Análisis</h4>
                    <p class="detail-body">{{ video.analysis }}</p>
        </div>
    </div>
</div>
{% endblock %}